.componentContainerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color5);

  padding: 8rem 0 6rem 0;
}

.titleFormLogin{
  color: var(--complementary);
  align-items: center;

  padding-bottom: 2rem;
}

.passwordSection {
  padding-top: 1.5rem;
}

.loginAccountContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 0.5rem;
}

.footerContainer {
  background-color: var(--color5);
  padding-top: 9.5rem;
}

/**************************LOGIN RESERVATION ERROR***********************************/

.loginErrorContainer {
  width: 70%;

  background-color: var(--complementary-soft);
  padding: 1rem 0;
  margin: 1.5rem 0;
  border-radius: 4px;
}

.loginErrorFlex {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginErrorFlex p {
  width: 65%;
  color: var(--complementary);
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .footerContainer {
    padding-top: 11.5rem;
  }
}
