.bookingsContainer{
    padding-top: 5.5rem;
    background-color: var(--color3);
}

.bookingTitle {
    color: var(--light);
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px){
    .bookingsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}