.formContainerProductGenerator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: var(--color5);
  padding-bottom: 6rem;
}

.formContainerProductGenerator h2 {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;

  padding: 1rem 0rem 1rem 1rem;
}

.subHeader {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color3);
  color: var(--light);
  padding: 5rem 1rem 1rem 1rem;
}

.formCreateProduct,
.formCreateImages {
  width: 100%;
  background-color: var(--color5);

  padding: 0rem 1.5rem 1rem 1.5rem;
}

.fieldsetCreateProduct,
.fieldsetCreateImage {
  background-color: var(--light);

  padding: 1rem 0 1rem 1.5rem;
  margin-top: 1rem;
}

.fieldsetCreateProduct select {
  width: 95%;
  height: 40px;
  padding: 0.7rem;
  border: 1px solid var(--color4);
  font-size: 0.85rem;
}

.fieldsetCreateProduct label {
  text-align: start;
}

.fieldsetCreateProduct input,
.fieldsetCreateImage input {
  width: 95%;
  margin: 0.8rem 0;
}

.fieldsetCreateProductCheckbox {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--light);

  margin-top: 1rem;
  padding-top: 1rem;
}

.infoCheckbox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0.2rem;
  padding: 0rem 1rem 0.5rem 1rem;
}

.fieldsetCreateProductCheckbox input {
  width: 20px;
  height: 20px;
}

.selectCreateProduct {
  margin: 0.5rem 1rem 0.5rem 0rem;
}

.formCreateImages {
  width: 100%;
}

.fieldsetCreateImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}

.formContainerCreateImages fieldset {
  width: 90%;
}
