.productHeader {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--main-color);
}

.productBanner {
  margin-top: 5rem;
  background-color: var(--light);
}

.productDetailContainer {
  background-color: var(--color3);
  padding-top: 0.005rem;
}

.detailContainer {
  background-color: var(--color3);
}

.detailHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--light);
  background-color: var(--color3);
}

.detailHeader {
  padding:1rem;
  color: var(--light);
}

.detailCategories {
  font-size: 1rem;
  font-weight: 700;
  line-height: 18px;

  color: var(--light);
}

.detailTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.detailIcon {
  float: right;
  font-size: 2rem;
  cursor: pointer;

  margin-right: 0.8rem;

  transition: 0.3s;

  text-decoration: "none" !important;

  color: var(--light);
}

.detailIcon:hover {
  color: var(--complementary);
}

.detailCityContent {
  background-color: var(--main-color);
}

.detailCity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailOpinion {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}

.detailRating {
  display: flex;
  align-items: center;
}

.detailStars {
  margin: 1.3rem 0rem 0 0.3rem;
  color: var(--complementary);
}

.detailReview {
  margin: 1rem 1rem 0 1rem;

  background-color: var(--complementary);
  border-radius: 4px;
  font-weight: 700;
  color: var(--light);

  padding: 0 0.5rem 0 0.5rem;
}

.detailSocialMedia{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.detailIconMap {
  margin-right: 0.5rem;
  color: var(--complementary);

  font-size: 1rem;
}

.detailCityTitle {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 16px;

  color: var(--light);
}

.detailImageGalery {
  display: none;
}

.detailDescription {
  background-color: var(--light);
  padding-top: 1rem;
  padding-left: 1rem;

  color: var(--color3);
}

.detailDescriptionSlogan {
  padding-bottom: 0.5rem;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.detailDescriptionInfo {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.detailWatchMore {
  color: var(--complementary);
  cursor: pointer;
}

.detailFeatures {
  background-color: var(--light);
}

.detailFeatureTitle {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 28px;

  color: var(--color3);

  padding: 1.5rem 0 0 1rem;
}

.hrFeatureDetail {
  width: 15rem;
  border-top: 1px solid var(--complementary);
  margin: 1rem 0;
}

.detailFeatureUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0.5rem;

  list-style: none;
}

.detailFeatureIcon {
  color: var(--complementary);
  margin-right: 0.5rem;

  font-size: 1rem;
}

.detailFeatureLi {
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0.5rem;

  flex: 50%;
}

.detailCalendar {
  background-color: var(--color5);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailCalendarTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  color: var(--color3);

  padding: 1rem 0 2rem 0rem;
  padding-left: 1.5rem;
  align-self: flex-start;
}

.hrProdDetail {
  clear: both;
  display: block;
  width: 105%;
  background-color: var(--complementary);
  height: 1px;

  margin: 0.5rem 0 0 0;
  padding: 0;
}

.detailCalendarDisplay {
  padding: 0.5rem 0 1rem 0;
}

.detailCalendarDouble {
  display: none;
}

.detailCalendarReservationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailInfoReservation {
  color: var(--color3);
  font-weight: 700;
  font-size: 0.74rem;

  margin: 1rem 0 0rem 0;
}

.detailButtonReservationDiv {
  width: 65%;
}

.detailButtonReservation {
  width: 150%;
  height: 2.5rem;
  border-radius: 4px;
  background-color: var(--main-color);
  margin: 1rem 0 0 0.3rem;

  color: var(--light);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  transition: 0.8s;
}

.detailButtonReservation:hover {
  background-color: var(--complementary);
}

@media screen and (min-width: 768px) {
  .Calendar {
    box-shadow: 0 0em 1em rgb(0 0 0 / 20%) !important;
    margin-right: 0, 5rem !important;
  }

  .detailCalendarFlex {
    display: none;
  }

  .detailCalendarDouble {
    display: block;
  }

  .detailCalendarReservationContainer {
    width: 100%;
    flex-direction: row;
  }

  .detailInfoReservation {
    margin: 1rem 0rem 0rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .detailCarrouselContainer {
    display: none;
  }

  .detailCalendarFlexDesktop {
    display: flex;
  }

  .detailCalendarReservationContainer {
    flex-direction: column;
    padding: 0 1rem 0 0;
  }

  .detailCalendarReservationFlex {
    background-color: var(--light);
    border-radius: 4px;
    box-shadow: 0 0em 1em rgb(0 0 0 / 20%);
  }

  .detailButtonReservationDiv {
    padding-top: 2rem;
    width: 50%;
    margin-left: 12%;
  }

  .detailInfoReservation {
    height: 10%;
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .detailInfoReservation {
    padding-left: 15%;
  }
}
