.productGeneratorHeader {
  background-color: var(--main-color);

  margin-top: 5rem;
  padding: 1rem;
}

.productGeneratorHeader p {
  color: var(--light);
}

.productGeneratorBody {
  background-color: var(--color5);
  padding-bottom: 4rem;
}

.prodGeneratorTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: left;

  padding: 1rem;

  color: var(--main-color);
}

.sectionLastInput,
.inputProdGenerator {
  background-color: var(--light) !important;

  padding: 1rem;

  font-size: 0.8rem;

  align-items: center;
  justify-content: center;
}

.inputTitleProdGenerator {
  font-size: 0.8rem;
}

.prodGeneratorInputFlex section{
  margin: 0;
}

.inputProdGenerator2,
.inputProdGenerator,
.sectionLastInput
 {

  align-items: center;
  justify-content: center;
}

.inputCheckbok{
  width: auto;
  height: auto;
}

.formContainerProductGenerator{
  border-radius: 4px;
}

.productAtributesFlex {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 0.5rem;
}

.productAtributes {
  margin-left: 3rem;
}

.subtitleProduct {
  margin-bottom: 1rem;
}


@media screen and (min-width: 768px){
  .formContainerProductGenerator{
    align-items: flex-start;
  }

  .prodGeneratorInputFlex{
    display: flex;
  }

  .inputProdGenerator2{
    background-color: var(--light);
    
  }

  .sectionLastInput{
    padding-right: 21.75rem;
    background-color: var(--light);
  }
  
  
}