.registerContainer {
  background-color: var(--color5);
  padding-bottom: 6rem;
}

.sectionFormContainerTwo {
  padding-left: 1.5rem;
}

.validationError {
  font-size: 0.8rem;
  margin: 0.2rem 0 0 0.2rem;
  color: rgb(224, 48, 48);
}

.buttonContainer{
  margin-left: 1.5rem;
  margin-top: 0;
}

