.categoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardCategory {
  display: flex;
  flex-direction: column;
  flex: wrap;

  overflow: hidden;

  border-radius: 1rem;
  border: 1px solid #cccccc;

  margin: 1.5rem 0 2rem 0;

  cursor: pointer;
}

.cardCategory:hover {
  transition: all 0.1s ease-out;
  box-shadow: 8px 8px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: var(--light-);
}

.categoryP {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7rem;
  margin-top: 1.5rem;
}

.categoryImg {
  width: 100%;
  height: 18rem;
  object-fit: contain;
}

.categoryTitle {
  padding-left: 1rem;
  font-size: 1.25rem;
}

.categoryDescription {
  padding-left: 1rem;
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  .categoryItem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cardCategory{
    width: 45%;
    margin: 1rem 0.5rem 1rem 0.5rem;
  }

  .categoryImg{
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .cardCategory {
    flex: 20%;

    margin: 1.5rem 0.5rem 2rem 0.5rem;
  }
}
