.header {
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: Italic;
  font-size: 20px;
  line-height: 23px;
  line-height: 100%;
  background-color: gray;
  height: 70px;
}

.header_wrapper{
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  font-size: 2em;
}

.header_logo_motto {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  color: white;
}

.header_logo {
  background-color: var(--main-color);
  width: 71px;
  height: 52px;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  object-fit: contain;
  border: 1px solid;
  box-shadow: 11px -1px 15px 1px rgba(0, 0, 0, 0.34);
  border-radius: 0.4rem;
}

.header_motto {
  color: black;
  text-decoration: none;
}

.header_login {
  width: 206px;
  height: 40px;
  margin:1.3rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  background-color: white;
  border: 1px solid;
  color: var(--main-color);

  font-weight: 700;
  font-size: 1rem;

  align-self: flex-end;
}

.items{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10rem;
}

.items_title{
  font-size: 1.5rem;
  font-weight: 400;
  align-self: flex-end;
  margin-right: rem;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 960px) {
    .header_motto{
        display: none;
    }
}

