.header_logo_motto {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header_logo {
  background-color: var(--color3);
  width: 71px;
  height: 52px;
  object-fit: contain;
  border: 1px solid;
  border-radius: 0.4rem;

  margin-left: 1rem;
  margin-top: 1.3rem;
}

.header_motto {
  display: none;
}

.header_button {
  display: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-bars {
  margin-right: 2rem;
  font-size: 2rem;
}

.nav-menu {
  background-color: var(--light);
  width: 70%;
  height: 110%;
  display: flex;
  justify-content: start;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 4;
  transition: 1s;
}

.nav-menu.active {
  right: 0;
  transition: 1.5s;
}

.nav-text,
.nav-text-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text span {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.2rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 7rem;
  margin-right: 1rem;
  border-radius: 4px;
}

.nav-text-menu {
  text-decoration: none;
  color: var(--light);
  padding-left: 11rem;
  font-size: 1.5rem;
  background-color: var(--main-color);
}

.nav-text span:hover {
  background-color: var(--color2);
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: var(--main-color);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.icon_menu {
  color: var(--color2);
  position: fixed;
  top: 2rem;
  margin-right: 1rem;
  right: 0;
}

.icon_close {
  color: var(--light);
  margin-top: 1.3rem;
  margin-left: 1.3rem;
}

span {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .icon_menu {
    display: none;
  }

  .header_button {
    display: inline;
    margin-left: 3rem;
    position: relative;
    top: -4rem;
    right: 1.5rem;
    width: 206px;
    height: 40px;
    margin: 1.3rem;
    cursor: pointer;

    border-radius: 0.3rem;
    background-color: var(--color4);
    border: 1px solid;
    color: var(--main-color);
  }
}

@media (min-width: 1024px) {
  .header_motto {
    display: inline;
    margin-left: 0.8rem;
    margin-top: 1.6rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
    font-style: italic;
    line-height: 1.5rem;
    color: var(--color3);
  }
}
