.iconClose {
  position: absolute;
  top: 6rem;
  left: 93%;
  cursor: pointer;

  font-size: 1.5rem;

  background-color: transparent;
  color: var(--complementary);
}

.iconEyeBlind {
  height: 22px;
  width: 24px;
  right: 10%;
}

.warningIcon {
  color: var(--complementary);
  font-size: 3rem;
  margin: 0.5rem 0.5rem 0 0;
}

@media screen and (min-width: 768px) {
  .iconClose {
    left: 95%;
  }
}

@media screen and (min-width: 1024px) {
  .iconClose {
    top: 6rem;
    left: 97%;
  }
}
