.passwordSection {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.buttonContainer {
  margin-top: 3rem;
}

.createAcountContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 0.5rem;
}

.footerContainer {
  background-color: var(--color5);
  padding-top: 9.5rem;
}

@media screen and (min-width: 768px) {
  .footerContainer {
    padding-top: 11.5rem;
  }
}
