.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 72vh;
  width: 100%;

  margin-right: 1rem;

  background-color: #f0ecec;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: var(--main-color);
}

.text {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--color3);
}

input {
  height: 45px;
  width: 110%;
  border-radius: 5px;

  box-shadow: 0px 1px 5px 0px #00000026;
  text-decoration: none;
}

.input1 {
  margin-bottom: 2rem;
}

.input_container-Login {
  width: 70%;
  font-size: 0.9rem;
  text-align: center;
}

.input_container-Login h5 {
  text-align: left;
}

.btn-container {
  width: 115%;
  font-size: 20px;
  text-align: center;
  padding-left: 2rem;
}

.btn_singIn {
  box-shadow: 0px 2px 4px 0px #0000001f;
  background-color: var(--main-color);
  color: var(--light);
  border-radius: 5px;

  font-size: 20px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

  width: 70%;
  height: 40px;
}

.btn_register_link {
  font-size: 20px;
  color: var(--main-color);
}


.errors {
  display: block;
  color: red;
}


@media screen and (min-width: 768px) {
  input {
    width: 65%;
  }

  .input_container-Login h5 {
    text-align: center;
    margin-right: 30%;
  }

  .input1 {
    margin-left: 0.5rem;
  }

  .text_register,
  .btn_register_link {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
  }

  .btn-icon {
    top: 0.5rem;
    left: 0;
  }

  .text_password {
    margin-left: -12%;
  }

  .btn-container {
    width: 55%;
    margin-right: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px){
  .btn-container {
    width: 30%;
    padding-bottom: 1rem;
  }

  input {
    width: 55%;
    text-align: center;
  }

  .text_password{
    margin-left: -8%;
  }
}