.loginErrorContainer{
    background-color: var(--complementary-soft);
    padding: 0.5rem 0;
    margin: 1.5rem 0;
    border-radius: 0.8rem;
}

.loginErrorFlex{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loginErrorFlex span {
    color: var(--complementary);
    font-size: 3rem;
    margin:0.5rem 0.5rem 0 0;
}

.loginErrorFlex p{
    width: 65%;
    color: var(--complementary);
    font-weight: 700;
}   