.passwordSection {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.buttonContainer {
  margin-top: 3rem;
}

.createAcountContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 0.5rem;
}

.footerContainer {
  background-color: var(--color5);
  padding-top: 9.5rem;
}

/**************************LOGIN RESERVATION ERROR***********************************/

.loginErrorContainer{
  width: 70%;

  background-color: var(--complementary-soft);
  padding: 1rem 0;
  margin: 1.5rem 0;
  border-radius: 0.8rem;
}

.loginErrorFlex{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginErrorFlex p{
  width: 65%;
  color: var(--complementary);
  font-weight: 700;
}   

@media screen and (min-width: 768px) {
  .footerContainer {
    padding-top: 11.5rem;
  }
}
