.Map {
  width: 100%;
  padding: 20px;
}

.mapDetailTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  color: var(--color3);

  padding: 1rem 1rem 0rem 1.1rem;
}

.mapDetailCity {
  font-size: 1rem;
  font-weight: 200;
  line-height: 28px;

  color: var(--color3);

  padding: 0rem 0 0 1.2rem;
}
