.productHeader {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--main-color);
}

.productBanner {
  margin-top: 5rem;
  background-color: var(--light);
}

.detailHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--light);
  background-color: var(--main-color);
}

.detailHeader {
  padding: 0.5rem 0 0.5rem 0.5rem;
  color: var(--light);
}

.detailCategories {
  font-size: 1rem;
  font-weight: 700;
  line-height: 18px;
}

.detailTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.detailIcon {
  float: right;
  font-size: 2rem;
  cursor: pointer;

  margin-right: 0.8rem;

  transition: 0.3s;

  text-decoration: "none" !important;

  color: var(--light);
}

.detailIcon:hover {
  color: var(--complementary);
}

.detailCityContent {
  background-color: var(--color4);
}

.detailCity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailOpinion {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}

.detailRating {
  display: flex;
  align-items: center;
}

.detailStars {
  margin-top: 1rem;
}

.detailReview {
  margin: 1rem 1rem 0 1rem;

  background-color: var(--complementary);
  border-radius: 0.6rem;
  font-weight: 700;
  color: var(--light);

  padding: 0 0.5rem 0 0.5rem;
}

.detailIconMap {
  margin-right: 0.5rem;
  color: var(--complementary);

  font-size: 1rem;
}

.detailCityTitle {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 16px;

  color: var(--color3);
}

.detailImageGalery {
  display: none;
}

.rs-carousel-slider-item,
.carrouselImages {
  height: 100% !important;

  object-fit: cover;
}

.detailDescription {
  background-color: var(--light);
  padding-top: 1rem;
  padding-left: 1rem;

  color: var(--color3);
}

.detailDescriptionSlogan {
  padding-bottom: 0.5rem;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.detailDescriptionInfo {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.detailWatchMore {
  color: var(--complementary);
  cursor: pointer;
}

.detailFeatures {
  background-color: var(--light);
}

.detailFeatureTitle {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 28px;

  color: var(--color3);

  padding: 1.5rem 0 0 1rem;
}

.hrFeatureDetail {
  width: 15rem;
  border-top: 1px solid var(--complementary);
  margin: 1rem 0;
}

.detailFeatureUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0.5rem;

  list-style: none;
}

.detailFeatureIcon {
  color: var(--complementary);
  margin-right: 0.5rem;

  font-size: 1rem;
}

.detailFeatureLi {
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0.5rem;

  flex: 50%;
}

.detailCalendar {
  background-color: var(--color5);
  padding-bottom: 2rem;

  padding-left: 1rem;

  padding: 0 0 2rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailCalendarTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  color: var(--color3);

  padding: 1rem 0 2rem 0rem;
  align-self: flex-start;
}

.hrProdDetail {
  clear: both;
  display: block;
  width: 105%;
  background-color: var(--complementary);
  height: 1px;

  margin: 0.5rem 0 0 0;
  padding: 0;
}

.detailCalendarDisplay {
  padding: 0.5rem 0 1rem 0;
}

.detailCalendarDouble {
  display: none;
}

.detailCalendarReservationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.detailInfoReservation {
  color: var(--color3);
  font-weight: 700;
  font-size: 0.74rem;

  margin: 0.5rem 0 0.5rem 0;
}

.detailButtonReservation {
  width: 55%;
  height: 2.5rem;
  border-radius: 0.2rem;
  background-color: var(--main-color);
  margin: 1rem 0 0 0.3rem;

  color: var(--light);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  transition: 0.8s;
}

.detailButtonReservation:hover {
  background-color: var(--complementary);
}

@media screen and (min-width: 768px) {
  .Calendar {
    box-shadow: 0 0em 1em rgb(0 0 0 / 20%) !important;
    margin-right: 0, 5rem !important;
  }

  .detailCalendarFlex {
    display: flex;
    box-shadow: 0 1em 4em rgb(0 0 0 / 20%);
  }

  .detailCalendarDouble {
    display: block;
  }

  .detailCalendarReservationContainer {
    flex-direction: row;
  }

  .detailInfoReservation {
    margin: 1rem 6.5rem 0rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .custom-slider,
  .rs-carousel,
  .rs-carousel-placement-bottom,
  .rs-carousel-shape-dot,
  .rs-carousel-content {
    display: none;
  }

  .detailCarrouselContainer{
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 20%);
  }

}
