.register_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 7rem;
}

.form_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;

  color: var(--main-color);

  margin: 1rem;
}

.input,
.input_f {
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  height: 40px;
  width: 300px;
  left: 0px;
  top: 0px;
  border-radius: 5px;

  align-items: center;
  justify-content: center;
}

.inputFullName,
.input_text {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--color2);
}

.btn_register input {
  background-color: var(--main-color);
  height: 40px;
  width: 300px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
}

.text_register .btn_register_link {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
}

.btn_register_link {
  color: var(--main-color);
}

.btn-icon-reg {
  background-color: transparent;
  position: relative;
  top: 0.2rem;
  right: 10%;
}

.icon-eyeBlind-reg {
  height: 18px;
  width: 24px;
  border-radius: 0px;
}

.errors {
  display: block;
  color: red;
}

@media screen and (min-width: 1024px) {
  .container-fullName {
    display: flex;
  }

  .input_f {
    margin-right: 1rem;
  }

  .input {
    width: 38.5rem;
  }

  .btn_register {
    text-align: center;
    padding: 1rem;
  }

  .btn_register input {
    height: 40px;
    width: 206px;
  }
}
