.registerContainer {
  background-color: var(--color5);
  padding-bottom: 6rem;
}

.sectionFormContainerTwo {
  padding-left: 1.5rem;
}

section {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px){
  .titleForm {
    padding-bottom: 0;
  }

  .buttonContainer {
    margin-top: 2rem;
  }
}